---
css: []
footerScripts: []
headerScripts: []
---
<!DOCTYPE html>
<html>
  <head>
    <!-- Site by Julian Boilen, julianboilen.com -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% if (page.url === '/' || !locals.title) { %>
    <title><%= site.title %></title>
    <% } else { %>
    <title><%= locals.title %></title>
    <% } %>
    <%- await include('/seo-meta') %>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
    <link rel="stylesheet" href="/styles.css" />

    <% for (const link of (css || []))  { %>
      <link rel="stylesheet" href="<%- link %>" />
    <% } %>

    <% for (const link of (headerScripts || [])) { %>
      <script src="<%- link %>"></script>
    <% } %>

    <%- await include('/fonts') %> 
    <%- await include('/analytics') %>

    <!-- https://www.netlifycms.org/docs/add-to-your-site/#add-the-netlify-identity-widget -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
            });
          }
        });
      }
    </script>

    <%- await include('/favicon') %>
  </head>
  <body>
    <%- content %>
  </body>
  <% for (const link of (footerScripts || [])) { %>
    <script src="<%- link %>"></script>
  <% } %>
</html>
