---
title: Introduction
position: 0
hideInNavigation: true
---
<%_ 
const featuredCollectivesFiltered = featuredCollectives.featuredCollectives
  .filter((collective) => collective.isVisible);
_%> 

<div class="hero-wrapper">
<div class="row hero-row">
  <div class="content-container">
    <% firstCollective = _.first(featuredCollectivesFiltered) %>
    <div class="column left">
      <h1 class="heading">
        OC Foundation is proud to be the financial and legal home of
        <span class="collective-name"><%= firstCollective.name %> </span> 
        <% for (let i = 0; i < featuredCollectivesFiltered.length; i++) { 
          const collective = featuredCollectivesFiltered[i];
          %>
          <%- await image({ 
            class: "collective-hero-image mobile-image hidden show-mobile" , 
            'data-index' : i, 
            style: i===0 ? '' : 'display: none !important' , // start hidden, unhide with js 
            src: collective.heroImage, 
            alt: collective.heroImageAlt || '' ,
            sizes: '100vw' 
          }, [428]); %>
        <% } %>
        and <%= hostedCollectives.length - 1 %>
        more groups
      </h1>

      <p class="subhead hide-tablet-portrait show-mobile">
        OC Foundation offers nonprofit status + fundraising + money management software to aligned groups.
      </p>

      <a
        class="cta hide-tablet-portrait show-mobile"
        href="https://opencollective.com/foundation/apply"
        target="_blank"
        >Apply now</a
      >
    </div>

    <div class="column right hide-mobile">
      <% for (let i=0; i < featuredCollectivesFiltered.length; i++) { 
        const collective=featuredCollectivesFiltered[i];
      %>
         <%- await image({
          class: "collective-hero-image" , 
          'data-index': i,
          style: i === 0 ? '' : 'display: none !important', // start hidden, unhide with js
          src: collective.heroImage, 
          alt: collective.heroImageAlt || '',
          sizes: '520px' }, [520]); %>
      <% } %>
    </div>
  </div>
</div>

<div class="tablet-portrait-subhead-row hidden show-tablet-portrait hide-mobile">
    <p class="subhead">
      OC Foundation offers nonprofit status + fundraising + money management software to aligned groups.
    </p>
    
    <a class="cta" href="https://opencollective.com/foundation/apply" target="_blank">Apply</a>
</div>

</div>

<!-- Scripts, preloaders -->
<script src="/assets/scripts/rotateFeaturedCollectives.js"
  data-featured-collectives="<%= JSON.stringify(featuredCollectivesFiltered) %>"></script>

<div class="discover-row">
  <div class="content-container">
    <p class="discover-heading">
      <a href="https://docs.opencollective.foundation/" target="_blank">
        Discover more Collectives hosted by us!
      </a>
    </p>
    <p>
      Discover <%= hostedCollectives.length %> Collectives making an impact in mutual aid, civil tech, arts & culture, climate and more.
    </p>
  </div>
</div>


<div class="row the-process-row">
  <div class="content-container">
    <div class="column with-borders the-process-heading">
      <h2>The Process</h2>
    </div>

    <div class="column the-process-graphic">
      <%- await image({
        src: '/assets/images/theprocess.png',
        alt: 'Infographic showing the steps: Apply, then meet us, then set up your page, then raise funds!',
        sizes: `
        (max-width: 428px) 100vw,
        66%
        `
      }, [773, 423, 428]) %>
    </div>
  </div>
</div>

<div class="heading-container">
  <h2>We do the paperwork so that you can focus on your mission.</h2>
</div>

<div class="row network-row">
  <div class="content-container">
    <div class="column network-graphic">
      <%- await image({
        src: '/assets/images/network.png',
        alt: 'Network illustration',
        sizes: `
        (max-width: 428px) 100vw,
        66%
        `
      },  [773, 423, 428]) %>
    </div>
    <div class="column network-copy">
      <p class="">
        We are part of an international network of 600 nonprofits, LLCs, and co-ops around the world that use the same, open
        source software to create efficiencies with money.
      </p>
    </div>
  </div>
</div>

<div class="row video-row">
  <div class="content-container">
    <div class="video-copy-container column with-borders">
      <p class="video-copy">
        OC Foundation is a nonprofit with a tech platform that enables over 300 groups to raise and spend over $13 million
        dollars a year in full transparency.
      </p>
    </div>

    <div class="column video-wrapper with-borders">
      <iframe class="video" src="https://www.youtube-nocookie.com/embed/269SyUQmL_U?modestbranding=1&rel=0&showinfo=0" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        loading="lazy"></iframe>
    </div>
  </div>
</div>
