---
title: Introduction
position: 0
hideInNavigation: true
---

<div class="row hero-row">
  <div class="content-container">
    <% firstCollective = featuredCollectives.featuredCollectives[0] %>
    <div class="left">
      <h1>
        OC Foundation is proud to be the financial and legal home of
        <span class="collective-name"><%= firstCollective.name %> </span> and 300
        more groups
      </h1>

      <p class="subhead">
        OC Foundation offers nonprofit status + fundraising + money management software to aligned groups.
      </p>

      <a
        class="cta"
        href="https://opencollective.com/foundation/apply"
        target="_blank"
        >Apply now</a
      >
    </div>

  <img
    class="collective-hero-image"
    src="<%- firstCollective.heroImage %>"
    alt="<%= firstCollective.heroImageAlt %>"
  />
  </div>
</div>

<div class="row the-process-row">
  <div class="content-container">
    <h2 class="the-process-heading">The Process</h2>
    <img
      class="the-process-graphic"
      src="assets/images/theprocess.png"
      alt="Infographic showing the steps: Apply, then meet us, then set up your page, then raise funds!"
    />
  </div>
</div>

<div class="row text-row">
  <div class="content-container">
    <h3 class="text-heading">And much more!</h3>
    <p class="text-copy">
      Virtual cards – Free courses – Grants – Collective admins – Processing payments 2x a week – Community forums – Tech
      owned by us – Transparency – Exit to community – Solidarity economies – Radical admin
    </p>
  </div>
</div>

<div class="row text-row">
  <div class="content-container">
    <h3 class="text-heading">Fees</h3>
    <p class="text-copy">
      * We take 5% for crowdfunding done on the site. Third-party payment
      processors (like Stripe and Paypal) charge separate fees on each transaction
      made using their service. Learn more here. We take 4-8% for bank transfers
      and checks: 8% for up to 500k raised; 6% for up to 1 million raised; 4% for
      over a million raised.
    </p>
  </div>
</div>

<!-- Scripts, preloaders -->
<script
  src="/assets/scripts/rotateFeaturedCollectives.js"
  data-featured-collectives="<%= JSON.stringify(featuredCollectives.featuredCollectives) %>"
></script>

<% featuredCollectives.featuredCollectives.forEach(collective => { %>
<link rel="preload" as="image" href="<%- collective.heroImage %>" />
<% }) %>
