---
title: Community
position: 3
hideInNavigation: false
---

<%_ function toIsoString(str) { return new Date(str).toISOString() } _%>

<div class="content content-container">
  <div>
    <h2>Collective work + transparent finances = ♥️</h2>
    <p>
      Click on a collective to see their budget and learn more about their impact.
    </p>
  </div>

  <div>
    <ol class="collective-list">
      <% for (let {account: {id, name, imageUrl, slug}, since} of hostedCollectives) { %>
        <li data-id="<%= id %>">
          <a href="https://opencollective.com/<%= slug %>" target="_blank" class="collective">
            <%- await image({
              class: 'collective-image',
              src: imageUrl,
              alt: `Logo of ${name}`,
              sizes: '72px',
              loading: 'lazy'
            }, [72]);
            %>
            <div>
              <div class="collective-name">
                <%= name %>
              </div>
              <div class="collective-hosted-since">
                <%# times rendered by renderFormattedDateTimes.js on frontend in browser locale and tz %>
                Hosted since:</br>
                  <time datetime="<%= toIsoString(since) %>"
                    data-format-options="<%= JSON.stringify({dateStyle: 'medium'}) %>">
                    <%= since %>
                  </time>
              </div>
            </div>
          </a>
        </li>
        <% } %>
    </ol>

    <a 
      href="https://opencollective.com/foundation#category-CONTRIBUTIONS" 
      target="_blank"
      class="show-all-button">
      View all
    </a>
  </div>

</div>
