---
title: Interventions
hideInNavigation: true
position: 8
---

<div class="interventions-container">
  <div
    class="carousel"
    data-flickity='{"contain": true, "cellAlign": "left", "pageDots": true}'
  >
    <% interventions.interventions.forEach((intervention, i) => { %>
    <div
      id="intervention-<%= i _%>"
      tabindex="0"
      class="carousel-cell intervention <%= intervention.interventionType.toLowerCase().replace(/\W/g, '-') %>"
    >
      <div class="intervention-type"><%= intervention.interventionType %></div>
      <h4 class="practice"><%- markdown(intervention.practice) %></h4>

      <% if (intervention.exampleColleagues) { %>
      <h5 class="example-colleagues-heading">Colleagues doing the work</h5>
      <div class="example-colleagues">
        <%- markdown(intervention.exampleColleagues) %>
      </div>
      <% } %>
    </div>
    <% }) %>
  </div>

  <a href="/share-example" class="button">Add Yourself to These Examples</a>
</div>
