---
title: Team
position: 5
hideInNavigation: false
---

<h2>We are a group of committed people you can reach out to.</h2>

<% 
const peopleByDepartment = _.groupBy(people.people, 'department'); 
const countryByCode = _.keyBy(geography.countries, 'code'); 
const links = [
  {
    tag: 'twitter',
    link: 'twitterUrl',
    label: 'Twitter'
  }, {
    tag: 'linkedin',
    link: 'linkedInUrl',
    label: 'LinkedIn'
  }, {
    tag: 'instagram',
    link: 'instagramUrl',
    label: 'Instagram'
  }, {
    tag: 'github',
    link: 'githubUrl',
    label: 'GitHub'
  }, {
    tag: 'www',
    link: 'websiteUrl',
    label: 'Website'
  }
];
%> 


<%
people.departments.forEach((department) => { 
%>

<h3 class="department-heading"><%= department %></h3>

<ul class="people-grid">
  <% (peopleByDepartment[department] ?? []).forEach((person) => { %>
  <li class="person">
    <img class="person-image" src="<%- person.profileImage %>" alt="<%= person.name %>"/>
    <div>
      <div class="person-name"><%= person.name %></div>
      <div class="person-title"><%= person.title %></div>
      <div class="person-location">
        <%_ if (person.administrativeArea) { _%> 
          <%= person.administrativeArea %>,&nbsp; 
          <%_ } _%> 
          <%= countryByCode[person.country].label _%>&nbsp;
          <span class="flag" data-country-code="<%=person.country %>"><%#flag emoji inserted by frontend script%></span>
      </div>
      <div class="person-links">
        <% links.forEach(({tag, link, label}) => { %>
          <% if (person[link]) { %>
            <a class="<%= tag %>" href="<%= person[link] %>" target="_blank"><%= label %></a>
          <% } %>
        <% }) %>
      </div>
    </div>
  </li>
  <% }); %>
</ul>

<% }); %>