---
title: Examples
position: 3
hideInNavigation: false
---

<div class="concepts-container">
  <div
    class="carousel"
    data-flickity='{"contain": true, "cellAlign": "left", "pageDots": false}'
  >
    <% concepts.concepts.forEach((concept, i)=> { %>
    <div class="carousel-cell concept" id="concept-<%= i _%>" tabindex="0">
      <h4 class="concept-title"><%= concept.conceptTitle %></h4>

      <div class="concept-description">
        <%- markdown(concept.conceptDescription) %>
      </div>

      <% if (concept.example) { %>
      <h5 class="example-heading">
        <%= concept.conceptTitle %> with arts & culture:
      </h5>
      <div class="example"><%- markdown(concept.example) %></div>
      <% } %>
    </div>
    <% }) %>
  </div>

  <a href="/share-concept" class="button">Add Yourself to these Examples</a>
</div>

<p>
  Community ownership and democratic governance builds political, cultural, and
  economic power. When these initiatives get together, they have enormous power.
</p>
