---
title: Interventions
hideInNavigation: true
position: 7
---

<div class="interventions-container">
  <a href="/share-example" class="button"
    >Add Yourself to this List of Examples</a
  >

  <ul class="carousel">
    <% interventions.interventions.forEach((intervention, i) => { %>
    <li
      id="intervention-<%= i _%>"
      tabindex="0"
      class="intervention <%= intervention.interventionType.toLowerCase().replace(/\W/g, '-') %>"
    >
      <div class="intervention-type"><%= intervention.interventionType %></div>
      <h4 class="practice"><%- markdown(intervention.practice) %></h4>

      <% if (intervention.exampleColleagues) { %>
      <h5 class="example-colleagues-heading">Colleagues doing the work</h5>
      <div class="example-colleagues">
        <%- markdown(intervention.exampleColleagues) %>
      </div>
      <% } %>
    </li>
    <% }) %>
  </ul>
</div>
